version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile # Dockerfile 이름
    image: ontimedemo # 빌드된 백엔드 이미지
    container_name: ontime-container
    ports:
      - "80:8080"     # HTTP 요청을 Spring Boot 8080으로 전달
      - "443:8443"    # HTTPS 요청을 Spring Boot 8443으로 전달
    volumes:
      - /home/ubuntu/OnTime-back/ontime-back/src/main/resources/:/app/src/main/resources/
      - /home/ubuntu/OnTime-back/ontime-back/src/main/resources/key/:/app/resources/key/

    depends_on:
      - mysql # mysql 서비스가 실행된 이후에 backend를 실행